body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    Padding: 0;
    background-image: url(/assets/images/pelis.jpg);
    background-size: cover;
    background-position: center;

}

header {
    background: rgb(0, 0, 0);
    padding: 15px 0;
    text-align: center;

} 

nav ul {
    list-style: none;
    padding:0;

}

nav ul li {
    display: inline;
    font-size: 0 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.login-container {
    background: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 30px;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    border-radius: 15px;

}
    
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;

}

button {
    width: 80%;
    padding: 10px;
    background: rgb(7, 78, 180);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

button:hover {
    background: rgb(11, 125, 139);

}

p a {
    color: lightblue;
    text-decoration: none;

}